<nz-select
      style="width: 400px;"
      nzShowSearch
      nzServerSearch
      nzPlaceHolder="Search enrichments"
      [nzShowArrow]="false"
      [nzFilterOption]="nzFilterOption"
      [(ngModel)]="selectedValue"
      (nzOnSearch)="search($event)"
      (ngModelChange)="select($event)"
    >
    <ng-container *ngIf="listOfOption | async; let listOfOption">
      <nz-option *ngFor="let o of listOfOption" [nzLabel]="o.name" [nzValue]="o.id" nzCustomContent>
        {{ o.type }} | {{ o.name }} {{ o.model_version }}
      </nz-option>
    </ng-container>
  </nz-select>
