:host svg {
  position: relative;
  top: 0;
  height: 800px;
}

:host .ant-avatar {
  margin-right: 10px;
}

.col {
  position: absolute;
  top: 0;
  width: 300px;

}
.trait {
  position: relative;
  z-index: 10;
  width: 300px;
  margin-bottom: 20px;
}

.wrapper {
  position: relative;
  top: 10px;
  bottom: 0px;
  right: 0px;
  left: 0px;
}
