<div class="wrapper" *ngIf="models | async; let models">

  <svg #backgroundSvg [style.width]="(models.items.length * 300 + (models.items.length - 1) * 80)  + 'px'">
      <svg:g class="links">
      <svg:g #linkElement *ngFor="let lg of models.links; let i = index" class="link-group" [attr.transform]="'translate(' + 300 * (i + 1) + ',0)'">
        <svg:path class="edge" [attr.d]="link.line" stroke="black" stroke-width="2" *ngFor="let link of lg"/>
      </svg:g>
    </svg:g>
  </svg>
  <ng-container *ngFor="let col of models.items; let i = index">
    <div class="col" [style.left]="(i * 380) + 'px'">
      <ng-container *ngFor="let data of col">
        <nz-card class="trait" [style.top]="(data.top) + 'px'" [nzActions]="[actionSetting, actionEdit, actionEllipsis]">
          <nz-card-meta
            [nzTitle]="nzCardTitle"
            [nzDescription]="data.description"
          ></nz-card-meta>
          <ng-template #nzCardTitle>
              <a [routerLink]="['/schema', data.id]">{{ data.name }}</a>
          </ng-template>
          <nz-list [nzDataSource]="data.fields" [nzRenderItem]="item" [nzItemLayout]="'horizontal'">
              <ng-template #item let-item>
                <nz-list-item>
                  <nz-avatar [nzText]="item.type"></nz-avatar>
                  <nz-list-item-meta
                    [nzTitle]="item.name || item.trait"
                    [nzDescription]="item.description"
                  >
                    <ng-template #nzTitle>
                      {{ item.name }}
                    </ng-template>
                  </nz-list-item-meta>
                </nz-list-item>
              </ng-template>
            </nz-list>
        </nz-card>
      </ng-container>
    </div>
  </ng-container>
</div>

<ng-template #actionSetting>
  <i nz-icon type="setting"></i>

</ng-template>
<ng-template #actionEdit>
  <i nz-icon type="edit"></i>

</ng-template>
<ng-template #actionEllipsis>
  <i nz-icon type="ellipsis"></i>
</ng-template>
