<nz-select
      style="width: 400px;"
      nzShowSearch
      nzServerSearch
      nzPlaceHolder="Search traits"
      [nzShowArrow]="false"
      [nzFilterOption]="nzFilterOption"
      [(ngModel)]="selectedValue"
      (nzOnSearch)="search($event)"
      (ngModelChange)="select($event)"
    >
    <ng-container *ngIf="listOfOption | async; let listOfOption">
      <nz-option *ngFor="let o of listOfOption" [nzLabel]="o.text" [nzValue]="o.value"> </nz-option>
    </ng-container>
  </nz-select>

<!-- display the schema selected, and any linked traits -->

<app-schema-trait></app-schema-trait>

