<nz-table #sensorTable
  nzShowSizeChanger
  [nzFrontPagination]="false"
  [nzData]="dataSet | async"
  [nzLoading]="loading"
  [nzTotal]="total"
  >

  <thead (nzSortChange)="sort($event)" nzSingleSor>
    <tr>
      <th nzShowExpand></th>
      <th nzShowSort nzSortKey="name">Name</th>
    </tr>
  </thead>
  <tbody>
    <ng-template ngFor let-data [ngForOf]="sensorTable.data">
      <tr [class.error]="data.error" [class.warning]="data.warning">
        <td nzShowExpand [(nzExpand)]="mapOfExpandData[data.id]"></td>
        <td>
          {{ data.name }}
        </td>
      </tr>
      <tr [nzExpand]="mapOfExpandData[data.id]">
          <td></td>
          <td colspan="10">{{ data.name }}</td>
        </tr>
      </ng-template>
  </tbody>
</nz-table>
